
body {
  background-color: rgb(4, 3, 78);
}

#board {
  width: 1350px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: white;
  width: 25px;
  height: 25px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
